body{
    font-family:  'Calibri','Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    font-size: 16px;
    flex-direction: column;
    background-image: radial-gradient(rgb(246, 223, 223), rgb(208, 208, 238));
}

img{
    height: 35%;
    width: 35%;
}

/* .container-edit{
    display: none;
} */

.container-preview{
  /* width: min(95vw, 800px);   responsive width
  aspect-ratio: 210 / 297;   A4 shape */
   
  /* margin: 20px auto; */
  padding: 45px;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  box-sizing: border-box;
  display: none;
  /* border: 2px solid red; */
  width: 210mm;   
  height: 296.8mm;

  /* transform: scale(1);
  translate: 0 0; */

  
}

/* download */
/* #a4{
  /* border: 3px solid red; */
  /*794px */
  /* width: 210mm;   785px A4 width  210mm */
  /* height: 297mm; A4 1123px height 297mm */
  /*1123px */

  /* width: 210mm;   
  height: 297mm; 
}*/

.in-preview{
    border: 2.6px solid rgb(0, 0, 0);
    height: 100%;
}


table, th, td{

    
    width: 100%; /*100%*/
    max-width: 800px; /*800px*/
    
     /* border: 1px solid black; */
     padding-top: 0px;

    
    padding: 0px;
}

th, td{
   
   border-spacing: 0px;
   padding: 0;

}
table{
    /* border: 2px solid black; */
    overflow: hidden;
   
    border-collapse: collapse;
    text-align: center;
    font-size: 22px;
   
}

/* .space{
    background-color: aqua;
    width: 100%;
    height: 200px;
    
} */

td pre{
    line-height: 2;
    text-align: left;
   
}
/* submitted to top*/
#sb{
   margin-top: 0;
   text-align: left;
   /* border: 1px solid black; */
   margin-bottom: 1px;
   margin-left: 22px;
   font-weight: 550;
   font-size: 28px;
}

#prew-by{
    padding: 0;
    margin-left: 22px;
    /* border: 1px solid black; */
    margin-top: 1px;
    margin-bottom: 1px;
    line-height: 1.6;
    font-size: 26px;
}

/* container Seperate div for sub to */
.sto{
  
    /* border: 2px solid black;
    background-color: rgb(166, 243, 243); */
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: center;
    padding-right: 7px;
    margin-top: 25px;

}
.sto p{
    /* margin-top: 20px; */
    /* border: 1px solid black; */
    padding-right: 60px;
    text-align: left;
    margin: 0;
    width: 300px;
    margin-bottom: 5px;
    font-weight: 550;
    font-size: 28px;
}
#st{
    margin-right: 30px;
} 

#prew-to{
    margin-top: 0;
    /* border: 1px solid black;  */
    width: 390px;
    line-height: 1.6;
    font-size: 26px;
    white-space: pre-wrap;   
}

/* td h2{
    line-height: 5px;
}  */

#p-assign{
    /* border: 1px solid black; */
    margin-top: 10px;
    margin-bottom: 14px;
    font-size: 38px;
}

#p-subs{
   margin-top: 0;
   /* border: 1px solid black; */
   height: 80px;
   font-size: 28px;
   
}

th h1{
    font-size: 50px;
}




/*Conatainer edit code */
#cover-image{
    height: 100px;
    width: 100px;
}

.container-edit{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-image: radial-gradient(rgb(148, 229, 237), rgb(207, 255, 252), rgb(254, 199, 255));
    padding: 10px;
    border: 2px solid rgb(189, 135, 243);
    border-radius: 10px;
}


.container-edit input, select{
    background-image: linear-gradient(to right,rgb(251, 233, 236), rgb(219, 251, 240), rgb(246, 246, 255));
    border: 2px solid rgb(5, 197, 94);
    border-radius: 8px;
    height: 30px;
    width: 45vw;
}

button{
    background-color: rgb(252, 62, 173);
    color: white;
    border-radius: 6px;
    border: 2px solid red;
    padding: 4px;
    height: 35px;
    width: 150px;
}

.container-edit h4{
    background-color: rgb(255, 4, 146);
    border-radius: 10px;
    border: 2px solid rgb(255, 207, 244);
    color: rgb(255, 255, 255);
    padding: 10px;
}

textarea{
    width: 30vw;
    resize: none;
    height: 120px;
    border: 1.5px solid rgb(0, 188, 235);
    border-radius: 10px;
} 

button:hover{
    background-color: rgb(250, 222, 247);
    color: black;
    transform: scale(0.9);
    transition: 0.8s ease;
    cursor: pointer;
}

button:active{
    background-color: rgb(253, 253, 253);
    color: black;
    transform: scale(0.9);
    transition: 0.8s;
}

#logos{
    /* background-color: rgb(80, 252, 255); */
    background-image: radial-gradient(rgb(207, 255, 252), rgb(254, 199, 255));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border: 3px solid rgb(240, 102, 194);
    border-radius: 10px
}

.btn-hold{
    display: none;
    justify-content: space-around;
    /* border: 1px solid red; */
    width: 340px;
    padding-top: 3.5px;
}

input:focus {
  outline: none;              /* remove default outline */
  border: 2px solid #ff0077;  /* custom highlight color */
  box-shadow: 0 0 5px #ff00a2; /* glowing effect */
 
}

#switch{
    display: none;
    background-color: rgb(127, 185, 255);
}

/*Select file*/
input[type="file"]::file-selector-button{

   height: 30px;
   background-color: rgb(255, 35, 145);
   border: 1px solid rgb(255, 170, 222);
   color: white;
   border-radius: 7px;
   cursor: pointer;
}

input[type="file"]::file-selector-button:hover{
   background-color: rgb(24, 151, 119);
   border: 1px solid rgb(229, 251, 255);
  
}

input[type="file"]::file-selector-button:active{
   background-color: rgb(27, 244, 255);
   border: 1px solid rgb(229, 251, 255);
}


@media (max-width : 700px){
  .container-edit{
    background-image: radial-gradient(rgb(255, 179, 179), rgb(193, 232, 255));
    width:100%;
  }
  
  .container-edit input, select{
    border-radius: 8px;
    height: 30px;
    width: 95%;
}
    textarea{
    width: 90vw;
    resize: none;
    border: 1.5px solid rgb(0, 188, 235);
    border-radius: 10px;
} 
#logos{
    background-image: radial-gradient(rgb(255, 179, 179), rgb(193, 232, 255));
}


/*print part & mobile responsive*/
.container-preview{
  
  transform: scale(0.45);
  translate: 0 -250px;
  /* background-color: red; */
}

#switch{
    display: block;
    background-color: red;
}

}
